.background {
  background: linear-gradient(50deg, #ffd89b, #19547b);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: auto;
}

.main-container {
  margin: 0 auto;
  width: 40%;
  position: relative;
  padding-top: 10%;
}

.main-text {
  text-align: center;
  font-size: 70px;
  color: #F5CBEDcc;
}

.add-todo-form,
.search-todo-form {
  background-color: #ffffff;
  margin: 20px auto;
  display: flex;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 5px;
}

.input-area {
  margin: 0 auto;
  width: 80%;
}

.input-button {
  background-color: #ffffff;
  background-image: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 30px;
  transform: rotate(180deg);
}

.input-field {
  border: none;
  width: 100%;
  text-indent: 6px;
  outline: none;
}

.input-field::placeholder {
  font-style: oblique;
}

.new-todo {
  background-color: #ffffff;
  display: flex;
  border: solid 0.5px;
}

.new-todo:hover .delete-button{
  background-image: url("../images/cross.png");
}

.hide-todo {
  display: none;
}

.todo-checkbox {
  width: 22px;
}

.todo-text,
.changed-todo-text {
  width: 100%;
  padding: 8px;
}

.changed-todo-text {
  text-decoration: line-through;
  color: #7E7E7E;
}

.delete-button {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  width: 15px;
  height: 15px;
  margin: auto auto;
  padding:8px
}

.todo-list {
  max-height: 198px;
  overflow-y: auto;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bottom-menu {
  background-color: #ffffff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bottom-buttons {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  width: 50%;
  margin: 0 auto;
  padding: 6px;
  color: #7E7E7E;
}

.all-button,
.active-button,
.completed-button {
  cursor: pointer;
  padding:5px;
  font-size: 15px;
  border: solid transparent 2px;
}

.all-button:hover,
.active-button:hover,
.completed-button:hover {
  border: solid #ffd89b 2px;
  border-radius: 4px;
}

.checkbox {
  z-index: -9999;
  position: absolute;
  width: 0px;
  height: 0px;
}

.custom-checkbox {
  border-radius: 100%;
  border: solid #c9c9c9 0.8px;
  min-width: 26px;
  min-height: 26px;
  margin: auto 8px;
}

.new-todo .checkbox:checked+.custom-checkbox {
  background-image: url("../images/tick.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}