.background {
  background: linear-gradient(50deg, #ffd89b, #19547b);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: auto;
}

.main-container {
  /*background-color: tomato;*/
  margin: 0 auto;
  width: 40%;
  position: relative;
}

.main-text {
  text-align: center;
  font-size: 40px;
  color: #F5CBEDcc;
}

.add-todo-form,
.search-todo-form {
  background-color: #ffffff;
  margin: 20px auto;
  display: flex;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 5px;
}

.input-area {
  margin: 0 auto;
  width: 80%;
}

.input-button {
  background-color: #ffffff;
  background-image: url("/images/arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 30px;
  transform: rotate(180deg);
}

.input-field {
  border: none;
  width: 100%;
  text-indent: 6px;
  outline: none;
}

.input-field::placeholder {
  font-style: oblique;
}

.new-todo {
  background-color: #ffffff;
  display: flex;
  border: solid 0.5px;
}

.hide-todo {
  display: none;
}

.todo-checkbox {
  background-image: url("/images/circle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 22px;
}

.todo-text,
.changed-todo-text {
  width: 100%;
  padding: 8px;
}

.changed-todo-text {
  text-decoration: line-through;
  color: #7E7E7E;
}

.delete-button {
  background-image: url("/images/cross.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 22px;
  padding: 10px;
}

.todo-list {
  max-height: 200px;
  overflow-y: auto;
}

.bottom-menu {
  background-color: #ffffff;
}

.bottom-buttons {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  width: 50%;
  margin: 0 auto;
  padding: 6px;
  color: #7E7E7E;
}

.all-button,
.active-button,
.completed-button {
  cursor: pointer;
}

.checkbox {
  z-index: -9999;
  position: absolute;
}

.custom-checkbox {
  border-radius: 100%;
  border: solid #000000 0.8px;
  width: 27px;
  height: 20px;
  margin: auto 8px;
}

.new-todo .checkbox:checked+.custom-checkbox {
  background-image: url('/images/tick.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}